:root {
  --bs-primary: #137FAA;
  --bs-primary-rgb: 19, 127, 170;
  --bs-secondary: #f0f0f0;
  --bs-secondary-rgb: 240, 240, 240;
  --bs-body-bg: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Sans', sans-serif;
}

#participants-list .badge,
#transactions-list .list-group-item {
  font-family: 'Mulish', sans-serif;
}

.modal-footer .btn {
  margin-top: 0;
}

.btn-secondary {
  --bs-btn-color: #333;
  --bs-btn-hover-color: #333;
  --bs-btn-active-color: #333;
  --bs-btn-border-color: #ccc;
  --bs-btn-hover-border-color: #bbb;
  --bs-btn-active-border-color: #aaa;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
